.q-btn.disabled {
  opacity: 0.3 !important;
}

.q-field--disabled {
  opacity: 0.5 !important;
}

.no-resize {
  resize: none !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}
