<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083881374343-a0149pof3cupehapbcaa4m3qmdj67ljj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083881374343-a0149pof3cupehapbcaa4m3qmdj67ljj</string>
	<key>API_KEY</key>
	<string>AIzaSyB9vF1q-Hze3kGnCSRATGlOIg3Cj-8LdfM</string>
	<key>GCM_SENDER_ID</key>
	<string>1083881374343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cpedidosPmp</string>
	<key>PROJECT_ID</key>
	<string>cpedidos-pmp</string>
	<key>STORAGE_BUCKET</key>
	<string>cpedidos-pmp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083881374343:ios:420e19dd70b883a5636e22</string>
	<key>DATABASE_URL</key>
	<string>https://cpedidos-pmp-default-rtdb.firebaseio.com</string>
</dict>
</plist>